environment             = "dev"
vpc_cidr                = "10.20.0.0/16"
single_nat_gateway      = true
enable_dr               = false
force_destroy_buckets   = true
allow_insecure_http     = true
db_instance_class       = "db.t4g.micro"
db_allocated_storage    = 20
db_max_allocated_storage = 100
db_backup_retention_days = 7
redis_node_type         = "cache.t4g.micro"
redis_replicas          = 0
api_desired_count       = 1
frontend_desired_count  = 1
worker_desired_count    = 0
monthly_budget_usd      = 150

# Add these together after purchasing a domain and creating its Route53 zone.
root_domain    = ""
route53_zone_id = ""
